body{
    background-color: wheat;
    margin: 10px;
}
h3{
    margin-bottom: 2px;
}
p{
    margin-bottom: 30px;
}
.graph{
    margin-bottom: 2px;
    padding: 10px;
}
#line{
    display: block;
}
#last{
    font-size: small;
    font-weight: bold;
}