body{
    background-color: wheat;
    margin: 10px;
}
h3{
    margin-bottom: 2px;
}
p{
    margin-bottom: 30px;
}
.graph{
    margin-bottom: 2px;
    padding: 10px;
}
#line2{
    display: inline;
}
#last{
    font-size: small;
    font-weight: bold;
}
h5{
    color: chocolate;
}
a:hover{
    color: blue;
    background-color: wheat;
}
