body{
    background-color: wheat;
}
h1{
    color: black;
    font-size: 70px;
    font-style: italic;
    margin-bottom: 2px;
}
li{
    display: inline;
    padding: 5px;
    
}
ul{
    text-align: right;
    padding: 5px;
}
nav{
    margin: 10px;
    padding: -30px;
}
h3{
    color: chocolate;
    line-height: 2em;
    font-size: x-large;
    margin-top: 2px;
}
p{
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pictures{
    border: 1px dotted;
    text-align: initial;
}
ol{
    border: 1px dotted;
    padding: 5px;
}

h5{
    margin-top: 5px;
    color: chocolate;
    font-weight: bold;
    margin-left: 10px;
}
footer{
    padding: 10px;
}
a:hover{
    color: blue;
    background-color: teal;
}
.graph{
    margin-bottom: 2px;
    padding: 10px;
}
#line{
    display: block;
}


